@model NewsApp.Models.Category

@{
    ViewData["Title"] = "Delete";
}

<div class="narrow-container">
    <h1 class="my-5">@ViewData["Title"]</h1>
    <div class="row">
        <div class="col">
            <form asp-action="Delete">
                <input type="hidden" asp-for="CategoryId" />
                <input type="submit" value="Delete" class="btn btn-danger w-50" />
            </form>
        </div>

        <div class="col text-end">
            <a class="btn purple-button" asp-action="Index">Back to all categories</a>
        </div>
    </div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>


</div>
