@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bee news app</h1>
    <p>An application created for users to be able to share fun articles amongst eachother.</p>
</div>
